<a href="https://colab.research.google.com/github/DianeReillo/ie-trends-activity/blob/main/IE_Trends_Data_Preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd 
import matplot.lib.plyplot as plt
import seaborn as sns
import numpy as np

ModuleNotFoundError: ignored

In [14]:
naia_df = pd.read_excel("NAIA Daily 2017.xlsx")
naia_df

       YEAR  MONTH   DAY RAINFALL  ...  TMIN    TMEAN WIND SPEED WIND DIRECTION
0       NaN    NaN   NaN       mm  ...    °C       °C        m/s        degrees
1    2017.0    1.0   1.0        0  ...  23.6  27.7655          3             80
2    2017.0    1.0   2.0        0  ...  24.6     27.8          2             70
3    2017.0    1.0   3.0        0  ...  25.2    28.85          3             80
4    2017.0    1.0   4.0        T  ...  24.2      NaN          2            100
..      ...    ...   ...      ...  ...   ...      ...        ...            ...
361  2017.0   12.0  27.0      1.5  ...  24.6    26.45          2             70
362  2017.0   12.0  28.0        0  ...  24.7    27.95          3             70
363  2017.0   12.0  29.0        0  ...  23.7    26.65          3             70
364  2017.0   12.0  30.0        0  ...  22.8    26.15          3             70
365  2017.0   12.0  31.0        0  ...    23     26.8          2             60

[366 rows x 9 columns]

In [20]:
### Dropping Rows
naia_df = naia_df.drop(index=0)
## original_file = file operation

KeyError: ignored

In [ ]:
naia_df

In [21]:
## Connect the dots
naia_df['MEAN']= NAIA_df['MEAN'].interpolate()
naia_df['TMIN']= naia_df['TMIN'].interpolate()
naia_df['TMAX']= naia_df['TMAX'].interpolate()

NameError: ignored

In [23]:
### Applying a conversion
def celsiuis_to_kelvin(temp):
  K= temp + 273.15 
  return K
  celsius_to_kelvin(32)

In [27]:
naia_temps=naia_diff[['TMIN','TMAX','TMEAN']]

NameError: ignored

In [31]:
### Make Dates 
naia_df[["YEAR","MONTH","DAY"]]=naia_df[["YEAR","MONTH","DAY"]].astype(int).astype(str)
naia_df['DATE'] = naia_df[["MONTH","DAY","YEAR"]].agg('/'.join,axis=1)
## MM/DD/YYYY
#naia_df

In [32]:
naia_df.drop(labels=["MONTH","DAY","YEAR"]),axis=1)

SyntaxError: ignored

In [33]:
naia_df

     YEAR MONTH DAY RAINFALL  ...    TMEAN WIND SPEED WIND DIRECTION        DATE
1    2017     1   1        0  ...  27.7655          3             80    1/1/2017
2    2017     1   2        0  ...     27.8          2             70    1/2/2017
3    2017     1   3        0  ...    28.85          3             80    1/3/2017
4    2017     1   4        T  ...      NaN          2            100    1/4/2017
5    2017     1   5     0.45  ...      NaN          2            110    1/5/2017
..    ...   ...  ..      ...  ...      ...        ...            ...         ...
361  2017    12  27      1.5  ...    26.45          2             70  12/27/2017
362  2017    12  28        0  ...    27.95          3             70  12/28/2017
363  2017    12  29        0  ...    26.65          3             70  12/29/2017
364  2017    12  30        0  ...    26.15          3             70  12/30/2017
365  2017    12  31        0  ...     26.8          2             60  12/31/2017

[365 rows x 10 columns]

In [38]:
X = naia_df.drop(labels=["MONTH","DAY","YEAR"]),axis=1)
x.plot(figsize=(16,6))
# plt.savefig('NAIA Daily Data (2017-2018).jpg",dpi=300)

SyntaxError: ignored

In [40]:
from sklearn.preprocessing import StandardScaler

In [41]:
### Saving the dataset 
naia_df.to_excel('naia-2017-clean.xlsx')